@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header >h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header >p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: black;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}